<div class="game-list-container">
  <div class="quicksearch-container">

      <input type="text" class="quicksearch" placeholder="Search" (input)="onSearchChange($event.target.value)" />
  </div>
  <div class="game-list">
      <div *ngFor='let game of _gameService.games' class="game-card-wrapper">
          <div class="game-card " [ngStyle]="{'background-image': 'url(' +  game.imageUrl + ')'}" title="{{game.title}}">
              <div class="game-card--title">
                  {{game.name}}
                  {{game.procent}}
              </div>
             <div>
                  <span class="total-player-count">
                          {{game.playerCount}} 32
                      </span>
             </div>


              <div class="game-card--hovered">
                  <div class="game-card-center-button">
                      <button class="progress-btn state-loading" type="button" >
                          <span (click)="getGame(game)" style="position: absolute; top:0; left:0;bottom:0;right:0;"></span>
                          <span class="progress-btn__content">
                              Download
                          </span>
                          <span class="progress-btn__progress-bar">
                              <span class="progress-bar__inner"></span>
                          </span>
                      </button>
                      <!-- <button class="send">	
                              <div class="text">Download</div>
                              <div class="loader"></div>
                              <div class="done">Install</div>
                            </button> -->
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>