<div *ngIf="_turnament.TurnamentKey !== undefined" style="height:100%">
<iframe    [src]="sanitizer.bypassSecurityTrustResourceUrl(_turnament.TurnamentUrl)" width="100%" height="80%" frameborder="0" scrolling="auto" allowtransparency="true"></iframe>
    <button (click)="RemoveTurnamentKey()">remove turnament key </button>
</div>
  


<div *ngIf="_turnament.TurnamentKey === undefined">
  <h1>Challonge turnament key</h1>
  <h3>For creating a turnament, go to challonges website and create a turnament. after that add the URL key.</h3>
  <input #f>
  <button (click)="SetTurnamentKey(f.value)">Enter turnament key </button>
</div>
