$height:5%;
$baseTransistion: all 0.2s ease-out;
#chat{
    z-index: 10;;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: $height;
    background-color:blue;

    display: grid;
    grid-template-columns: 1fr 300px;


    #chatBar{
        background-color:green;
        display: grid;
        grid-template-columns: repeat( auto-fit, minmax(250px, 1fr) );
        grid-gap: 20px;
    }
    #chatListButton{
        position: relative;
        background-color:pink;
        text-align: center;
        vertical-align: middle;
        line-height: 50px;
        &:hover{
            background-color: grey;
        }


    }
    .chatHolder{
        z-index: 9;
        position: relative;
        color:white;
        font-size: 20px;
        font-weight: 500;
        text-align: center;
        vertical-align: middle;
        line-height: 50px;
        transition: $baseTransistion;
        &:hover{
            background-color:lightgreen;
            .chatPersonBar{
                background-color:green;
            }
        }
        .chatPersonBar{
            background-color:brown;
            
            display: grid;
            grid-template-columns: 1fr 50px;
            z-index: 900;
            .chatName{
                width:100%;
                height:100%;
                z-index: 900;
            }
            .chatClose{
                &:hover{
                    background-color:blue;
                }
            }
        }

        .chat{
            height:500px;
            width:100%;
            position: absolute;
            background-color:blue;
            bottom: 100%;
            left: 0;
            z-index: -1;
            transition: $baseTransistion;
            .messageBox {
                position: absolute;
                left: 0;
                width: 98%;
                top: 96%;
                
            }
        }
    }

}


#peopleList{
    overflow-y: hidden; 
    overflow-x: hidden;
    z-index: 0;
    transition: $baseTransistion;    
    bottom: 5%;
    top: 5.3%;
    right: 0;
    width:300px;
    position: absolute;
    background-color:green;
    display:grid;
    grid-template-columns: 1fr;
    grid-auto-rows: 50px;
    $funktionWidth:50px;
    .peopleListItem{
        
        position: relative;
        text-align: center;
        background-color:grey;
        border-bottom: 1px solid white;
        vertical-align: middle;
        line-height: 50px;
        transition: $baseTransistion;  
        .peopleFunktions{
            top:0;
            font-size: 16px;
            right: -$funktionWidth;
            position: absolute;
            height:100%;
            width:$funktionWidth;
            background-color:green;
            color:white;
            transition: $baseTransistion;
            &:hover {
                background-color:lightgreen;
            }
        }
        &:hover{
            .peopleFunktions{
                right: 0;
            }

            background-color: lightgrey;
            
        }
            
    }
}










// GAMMEL CHAT HER
.container {
    position: absolute;
    bottom:101.5%;
    width:100%;
}
.dropdown-menu{
    bottom:101.5%;
}
a{
    color:white;
    text-decoration:none;
    cursor: pointer;
}
.CloseButton{
    display:none;
    right:15px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.ActiveChat{
    position: relative;
    margin-left: 10px;
    width:300px;
    a{
        color:white;
    }
    .CloseButton{

        display: block;
    }
}
.Inaktive{
    min-width: 200px;
    position: relative;
    
    :hover{
        .CloseButton{
            display: block;
        }
    }
}
.chat-img.pull-left{
    margin-right:10px;
}
.chat
{
    list-style: none;
    margin: 0;
    padding: 0;
}

.chat li:not(:first-child)
{
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-top: 1px dotted #B3A9A9;
}

.chat li .chat-body p
{
    border-radius: 5px;
    padding: 5px;
    margin: 0;
    color: #000000;
    background-color:lightskyblue;
}
.panel {
    margin-bottom: 0 !important;
    border-radius: 0;
    
}
.panel .slidedown .glyphicon, .chat .glyphicon
{
    margin-right: 5px;
}

.panel-body
{
    overflow-y: scroll;
    height: 250px;
}

::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
}

::-webkit-scrollbar
{
    width: 12px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #555;
}
#ChatBox{
    position: fixed;
    bottom: 0;
    width:100%;
    height:50px;
    background-color:green;
    margin:0;
    li{
        list-style: none;
        float:left;
        
        a {
            display: block;
        
            width:auto;
            margin-right:50px;
            :hover{
                background-color:blue;
            }
        }

    }
}