<div id="chat">
    <div id="chatBar">
        <div class="chatHolder" (click)="isChatOpen = !isChatOpen" *ngFor="let person of people | filterBy: { isOpen: 'true' }">
            <div class="chatPersonBar">
                    <div class="chatName" (click)="person.active = !person.active">
                            {{person.name}}
                        </div>
                        <div class="chatClose" (click)="person.isOpen = false">
                            X
                        </div>
            </div>

                <div class="chat"  [style.height]="person.active ? '500px' : '0px'">
                    <div class="messages">
                        <div class="message" *ngFor="let msg of person.messages">
                        {{msg.name}}: {{msg.msg}}
                        </div>

                    </div>
                    <form (ngSubmit)="SendMessage(msgInput,person.id)">
                            <input id="btn-input" type="text" #msgInput autocomplete="off required" class="messageBox" placeholder="Type your message here..." />
                    </form>
                </div>
        </div>
    </div>
    <div id="chatListButton" (click)="isOpen = !isOpen">
        yoyo
    </div>
</div>
<div id="peopleList" [style.top]="isOpen ? '5%' : '95%'">
    <div class="peopleListItem" *ngFor="let person of people" (click)="StartChat(person.id)"> 
        {{person.name}}
        <div class="peopleFunktions">
            <i class="glyphicon glyphicon-plus-sign"></i>
        </div>
    </div>
</div>
<!-- <nav class="navbar navbar-inverse navbar-fixed-bottom">
  <div>
    <ul class="nav navbar-nav pull-right">
      <li *ngFor="let person of people | filterBy: { isOpen: 'true' }" 
       [ngClass]="person.active ? 'ActiveChat' : 'Inaktive'">
       <a>
        <span>
            <a (click)="person.active = !person.active">{{person.name}} </a>
            <a (click)="person.isOpen = false && person.active = false" class="pull-right CloseButton"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></a>
           </span>
       </a>


       
        <div class="container" *ngIf="person.active">
            <div class="row">
                <div class="">
                    <div class="panel panel-primary">
                        <div class="panel-body" #scrollMe [scrollTop]="scrollMe.scrollHeight">
                            <ul class="chat" >
                                <li  class="clearfix" [ngClass]="{'right' : msg.reciever != _socketService.socket.id }" *ngFor="let msg of person.messages">
                                    <div class="chat-body clearfix" [ngClass]="{'text-right' : msg.reciever != _socketService.socket.id }">
                                        <div class="header">
                                            <strong  class="primary-font">{{msg.name}}</strong>
                                        </div>
                                        <p>{{msg.msg}}</p>
                                    </div>
                                </li>
                                <li *ngIf="msg.sender == _socketService.socket.id" class="right clearfix">
                                    <div class="chat-body clearfix">
                                        <div class="header">
                                            <strong class="pull-right primary-font">{{msg.name}}</strong>
                                        </div>
                                        <p>{{msg.msg}}</p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="panel-footer">
                                <form (ngSubmit)="SendMessage(msgInput,person.id)">
                                        <input id="btn-input" type="text" #msgInput autocomplete="off" class="form-control input-sm" placeholder="Type your message here..." />
                                        <span class="input-group-btn hidden">
                                            <button class="btn btn-warning btn-sm" id="btn-chat" type="submit">Send</button>
                                        </span>
                                </form>

                            </div>
                    </div>
                </div>
            </div>
          </div>
          
      </li>
      <li class="dropup">
            <span dropdown (onShown)="onShown()" (onHidden)="onHidden()" (isOpenChange)="isOpenChange()">
                    <a href dropdownToggle (click)="false">Click me for a dropdown, yo!</a>
                      <ul *dropdownMenu class="dropdown-menu">
                            <li *ngFor="let person of people" (click)="StartChat(person.id)"><a [style.background-color]="person.color">{{person.name}}</a></li>
                      </ul>
                  </span>

      </li>

    </ul>
  </div>
</nav> -->