header {
  min-width:100%;
  min-height:5%;
  background-color:rgba(255,255,255,0.15);
  display: grid;
  grid-template-columns: repeat( auto-fit, minmax(250px, 1fr) );

    a {
      transition: all 0.2s ease-out;
      display: grid;
      align-items: center;
      font-size: 24px;
      text-align: center;
      vertical-align: middle;
      width:100%;
      height: 100%;
      &.active{
        background-color:green;
        color:white;
      }
    }
}
