
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Logo</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li> <a routerLink="/Forside" routerLinkActive="active">Forside</a></li>
        <li> <a routerLink="/Api">API</a></li>
        <li>  <a routerLink="/Turnament">Turnering</a></li>
      </ul>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>

<app-chat></app-chat>