<div id="Modal" *ngIf="openModal" >
  <div id="InputBox">
      <Input id="gameName" #box (keyup)="lookUp(box.value)">
      <div class="gameSuggestion" *ngFor="let game of games" (click)="selectGame(game); box.value = game.name"> 
        <img  src="https:{{game.cover.url}}" height="50px">
        {{game.name}}
      </div>
      {{GameInfo | json}}
      <button>Select and upload game</button>
  </div>
</div>

<div class="container text-center">
  <h3>{{title}}</h3>
  <br>
  <button class="btn btn-warning btn-block" (click)="openModal = !openModal">Upload game</button>
  <div class="row">
    <app-game-list></app-game-list>
  </div>
</div>
<br>